<template>
    <div id="app">
        <main>
            <div class="listItemContainer">
                <div v-for="offer in offers" :key="offer.message" class="boxed">
                    <div class="titleContainer">
                        <h2>
                            {{ offer.ProductNamePrefix }}
                        </h2>

                        <div class="allowanceContainer">
                            <div class="allowance">
                                {{ offer.DataAllowance }}
                            </div>
                        </div>
                    </div>

                    <div class="switcherPendant">
                        <div class="priceContainer">
                            <!-- <tef-price>
                <div slot="price">
                  {{ offer.marketingPrice }}
                </div>
              </tef-price> -->
                            <tef-price cloak align="center" display="block" size="s">
                                <span slot="before"> Zusammen nur </span>
                                <span slot="price">{{ offer.marketingPrice }} €</span>
                                <span slot="after">{{ offer.MarketingShortDescription }}</span>
                            </tef-price>
                        </div>

                        <div class="buttonContainer">
                            <a href="offer.elements.detailsPage.value">
                                <a :class="'button button-default'">
                                    <tef-icon
                                        size="s"
                                        icon="cart"
                                        context="default"
                                        type="default"
                                    ></tef-icon>
                                    Add to Cart
                                </a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>
<script>
import staticHansenResultsOffers from '../data/hansenData';

export default {
    props: {
        categoryId: String,
        useStaticData: Boolean,
    },
    data() {
        return {
            offers: null,
        };
    },
    async fetch() {
        const plpUrl = `/cs3/api/entities/with/?InstanceTypeName=Package,Promotion,Bundle&EntityElementName=TSales_Channel_Classification&Classifications=%5bTSales_Channel_Classification;${this.categoryId};false%5d&XsltCode=TEF_OFFER_MARKETING`;

        let offers;
        if (!this.useStaticData) {
            const response = await this.$axios.$get(plpUrl, {
                headers: { Accept: 'application/json' },
            });
            offers = response.Results.Offer;
        } else {
            offers = staticHansenResultsOffers;
        }

        const products = [];
        offers.map((off) => {
            const product = {};
            product.ProductNameSuffix = off['Product_name_suffix'];
            product.ProductNamePrefix = off['Product_name_prefix'];
            product.marketingRecurringPrice = !off['Marketing_Recurring_Price']
                ? 0
                : off['Marketing_Recurring_Price'];
            product.marketingPrice = !off['Marketing_Price'] ? 0 : off['Marketing_Price'];
            product.MarketingDescription = off['Marketing_Description'];
            product.MarketingShortDescription = off['Marketing_short_description'];
            product.AllowanceDuration = off['Allowance_Duration'];
            product.DataAllowance = off['Data_Allowance'];
            products.push(product);
        });
        this.offers = products;
    },
};
</script>
<style scoped lang="scss">
.listItemContainer {
    border: 1px solid ref;
}
.hidden {
    display: none;
    text-indent: -99999;
    visibility: hidden;
}

.bodyCover {
    background: #333;
}

.container {
    background: #fff;
    margin: 0 auto;
    min-height: 100vh;
    width: 80%;
}

.infoCover {
    padding: 1em 3em;

    .breadcrumb {
        color: #b3b3b3;
        flex: 1 1 0;
        font-size: 0.7em;
        margin: 2em 0;
    }

    .headingContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2em 0;

        h2 {
            color: #000;
            font-size: 3em;
            font-weight: normal;
            margin: 0;
        }

        h5 {
            font-size: 0.9em;
            margin: 1em 0 0;
        }
    }
}

.listItemContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 0 2em 6em;

    .boxed {
        background-color: #fcfcfc;
        border: 1px solid #e3e3e3;
        margin: 0 1% 20px;
        width: 23%;

        .titleContainer {
            align-items: center;
            background-color: #f3f3f3;
            display: flex;
            flex-direction: column;
            padding: 1em;

            h2 {
                font-size: 1.2em;
                font-weight: normal;
                margin: 0 0 0.5em;
            }

            h3 {
                font-size: 1.5em;
                margin: 0 0 0.5em;
            }
        }

        .leftAlignedContainer {
            padding: 1em;

            h3 {
                font-size: 1em;
                font-weight: normal;
                margin: 0 0 0.8em;

                b {
                    font-weight: bold;
                }
            }
        }

        .centerAlignedContainer {
            font-size: 1em;
            padding: 1em;
            text-align: center;

            .mainSpan {
                background-color: #f4f4f4;
                border-radius: 5em;
                display: inline-block;
                padding: 0.5em 2em;

                b {
                    font-weight: bold;
                }

                .linethrough {
                    text-decoration: line-through;
                }
            }
        }

        .priceContainer {
            font-size: 1em;
            text-align: center;

            .middleArea {
                border-radius: 5em;
                display: inline-block;
                padding: 0.5em 2em;

                h3 {
                    font-size: 2.6em;
                    font-weight: normal;
                    margin: 0;
                }

                .span {
                    color: #474747;
                    font-size: 0.8em;
                }
            }
        }

        .buttonContainer {
            margin: 1em;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;

        .infoCover {
            padding: 1em;

            .breadcrumb {
                display: none;
            }

            .headingContainer {
                margin: 6em 0 2em;

                h2 {
                    font-size: 1.5em;
                }
            }
        }

        .listItemContainer {
            padding: 0 0.5em 5em;

            .boxed {
                margin: 0 2% 20px;
                width: 46%;
            }
        }

        .footerCover {
            .topSection {
                .topMid {
                    flex-flow: row wrap;
                    padding: 2em 0;
                    width: 90%;

                    .content {
                        width: 48%;
                    }
                }
            }

            .lowerSection {
                .lowerMid {
                    flex-direction: column;
                    width: 90%;

                    .content {
                        display: none;
                    }

                    .contentRight {
                        justify-content: space-around;
                        width: 100%;
                    }

                    span {
                        padding-left: 0;
                    }
                }
            }
        }

        .mobileAccordion {
            display: block;
        }
    }
}

@media (max-width: 600px) {
    .grid {
        flex-direction: column;
        width: 100%;
    }
}
/* Chart */
.allowanceContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr repeat(2, 1fr);
    grid-template-rows: 3fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    font-family: CodeProBold, Verdana, Tahoma, sans-serif;
}
.chart {
    width: 150px;
    height: 60px;
    border: 1px solid white;
    clip-path: polygon(50% 0%, 0% 100%, 50% 100%);
    background: linear-gradient(to right, #0372bb var(--chartPercentage), #d4e5f2 12.5%);
    grid-area: 1 / 1 / 3 / 3;
}
.featuredBoxChart {
    background: linear-gradient(to right, purple var(--chartPercentage), #eadcf3 12.5%);
}
.allowance {
    font-size: 45px;
    font-weight: bold;
    text-align: right;
    padding-right: 2px;
    grid-area: 1 / 3 / 2 / 4;
}
.allowanceType {
    grid-area: 2 / 3 / 3 / 5;
    text-align: center;
}
.allowanceUnits {
    grid-area: 1 / 4 / 2 / 5;
    padding-top: 10px;
}
/* End of Chart */
/* Offers */
.subline {
    bottom: calc(100% - 2px);
    left: -8px;
    right: -8px;
    background: #7814b3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding: 8px;
    border-top: 1px solid #7814b3;
    border-left: 1px solid #7814b3;
    border-right: 1px solid #7814b3;
    margin: -10px;
    margin-bottom: 0;
    p,
    p b {
        line-height: 0.5;
    }
}
.options {
    display: flex;
}

.option {
    flex: 1 1 50%;
    input {
        display: none;

        .optionHint {
            display: none;
        }
    }
    input:checked + label {
        .text {
            background-color: #0072bc;
            color: #fff;
            display: block;
        }
        .optionHint {
            display: none;
        }
    }
    label {
        background-color: #f2f2f2;
        color: #0072bc;

        display: block;
        margin: 0;
        padding: 6px;

        .text {
            display: block;
            cursor: pointer;
            padding: 6px;
            border-radius: 3px;
            text-align: center;
            font-size: 14px;
            font-family: CodeProBold, Verdana, Tahoma, sans-serif;
        }
        .optionHint {
            position: relative;
            padding: 4px 8px;
            margin: 4px 12px 0 0;
            background: #0072bc;
            color: #eadcf3;
            font-size: 10px;
            font-family: CodeProBold, Verdana, Tahoma, sans-serif;
            text-align: center;
        }
    }
}

.links {
    list-style: none;
}

.allowance {
    div:first-child {
        font-size: 40px;
        float: left;
    }
    div:nth-child(2) {
        font-size: 15px;
        float: left;
        padding-top: 6px;
    }
    div:nth-child(3) {
        font-size: 15px;
        clear: both;
    }
}
.featuredBox {
    color: purple;
    border: 4px solid purple !important;
    .option {
        input:checked + label {
            .text {
                background-color: purple;
            }
        }
    }
    label {
        background-color: #eadcf3;
        color: purple;
        .optionHint {
            background: purple;
            color: #eadcf3;
        }
    }
}
/*End of Offers */
</style>
