<template>
    <div id="appOffersNuxtJs">
        <link v-if="brandCssLink" rel="stylesheet" :href="brandCssLink" type="text/css" />
        <plp :category-id="categoryId" :use-static-data="useStaticData"></plp>
        <script :src="iconComponentLink"></script>
        <script :src="occlLink"></script>
        <script :src="priceComponentLink"></script>
    </div>
</template>
<script>
const DEFAULT_BRAND = 2;
const DEFAULT_CATEGORY = '345056bb-c9cd-4868-ab94-f30887af3530';
export default {
    computed: {
        // eslint-disable-next-line object-shorthand
        brandCssLink() {
            return `https://library.telefonica.de/${this.brandId}/v1.5.0/components/theme/bundle.css`;
        },
        iconComponentLink() {
            return `https://library.telefonica.de/${this.brandId}/v1.5.0/components/icon/bundle.js`;
        },
        priceComponentLink() {
            return `https://library.telefonica.de/${this.brandId}/v1.5.0/components/price/bundle.js`;
        },
        occlLink() {
            return `https://library.telefonica.de/${this.brandId}/v1.5.0/library/vendors.js`;
        },
        brandId() {
            return this.$route.query.brandId || DEFAULT_BRAND;
        },
        categoryId() {
            return this.$route.query.categoryId || DEFAULT_CATEGORY;
        },
        useStaticData() {
            return this.$route.query.useStaticData || false;
        },
    },
};
</script>
